body {
	background-color: #fafafa;
	color: #1F1F26;
	font-family: 'Muli', 'Open Sans', sans-serif;
}

footer {
	border-top: 1pt solid #e5e5e5;
	bottom: 0px;
	margin: 25px auto 20px auto;
	padding: 30px 0;
	position: relative;
	width: 70%;
}

main {
	margin: 0 auto;
	width: 60%;
  max-width: 760px;
	padding: 20px 50px;
}

ul {
  list-style-type: none;
  padding-left: unset;
}

a {
  color: #1F1F26;
}

a:visited {
  color: dimgray;
}

li a {
  text-transform: uppercase;
}

.splash {
	margin: 40px auto 60px auto;
}

.splash h1 {
	font-family: 'Ovo', serif;
  font-size: 2.4em;
	line-height: 1.2em;
}

#hi {
	color: red;
	font-size: 12em;
	transition: color 5s ;
  margin-bottom: -40px;
  margin-top: 0;
  text-align: center;
}

.projects {
	border-top: 1pt solid gray;
	margin-top: 50px;
  min-height: 360px;
  font-size: 1.3em;
}

.projects li {
  margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  min-width: 300px;
}

@media only screen and (max-width: 800px) {
  main {
    width: 85%;
    padding: 0;
  }

  .splash h1 {
    font-size: 2em;
  }

  .projects {
    font-size: 1em;
  }

  footer {
    width: 85%;
  }
}

@media only screen and (max-width: 350px) {
  .splash h1 {
    font-size: 1.6em;
  }

  footer {
    width: 85%;
  }
}
